# This is the configuration file for the astro star builder.
# The default settings are used even if the -c option is not
# used, so in order for the program to use this config file,
# you need to use -c or --config. 
#
# You probably want to use this, as you can set your program
# title and version here.

NAME    = ExampleScript
VERSION = 0.0.1

# If the builder should parse .asx files beforehand. This may
# help with the startup time for your scripts, and will also 
# warn you about any syntax errors, although you should probably
# test your program normally first.
# default: false
PARSE_SCRIPTS = false

