# ! Important note: placing empty newlines will break
# the simple parser for this config file, so if you're adding
# more configuration settings, please add hashes in empty spaces.
#
#
# Main entrypoint, I rather suggest you do not change this
# default: StarBuilder.c
MAIN=StarBuilder.c
#
# Name of the generated executable
# default: StarBuilder
NAME=StarBuilder
#
# Move generated executable to /bin after compilation
# defult: false
BIN=false
